@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Geist";
  src: url("https://pham.codes/d/GeistMonoVF.woff2") format("woff2");
}
*,
body,
html {
  font-family: "Geist", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
